@model DIGITALMENU.MODEL.Menu


   <form method="post" enctype="multipart/form-data" asp-action="AddNewDish" asp-controller="Menu">
       <div asp-validation-summary="All" class="text-danger"></div>

      <div class="form-group">
        <label asp-for="DishName"></label>
        <input asp-for="DishName" class="form-control" />
        <span asp-validation-for="DishName" class="text-danger"></span>
      </div>

    <div class="form-group">
       <label asp-for="DishDescription"></label>
       <textarea asp-for="DishDescription" class="form-control"></textarea>
       <span asp-validation-for="DishDescription" class="text-danger"></span>
    </div>

   <div class="form-group">
       <label asp-for="DishCategory"></label>
       <br />
        <span>VEGITARIAN: </span> @Html.RadioButton("DishCategory","VEGITARIAN",true)
        <span> | NON-VEGITARIAN: </span> @Html.RadioButton("DishCategory", "NON-VEGITARIAN",false)
   </div>

   <div class="form-group">
      @Html.DropDownListFor(m => m.DishType,
      new SelectList(Enum.GetValues(typeof(DIGITALMENU.MODEL.Menu.Type))), "Select Type Of Dish")
    </div>

    <div class="form-group">
       <label asp-for="DishPrice"></label>
       <input asp-for="DishPrice" class="form-control" />
       <span asp-validation-for="DishPrice" class="text-danger"></span>
    </div>
      
     <div class="form-group">
      @Html.DropDownListFor(m => m.DishQuantity,
      new SelectList(Enum.GetValues(typeof(DIGITALMENU.MODEL.Menu.Qunatity))), "Select Dish Quantity")
    </div>

    <div class="form-group">
       <label asp-for="DishPhoto"></label>
      <div class="custom-file">
          <input asp-for="DishPhoto" class="custom-file-input" id="customFile" />
          <label class="custom-file-label" for="customFile" >Choose File</label>
      </div>
       <span asp-validation-for="DishPhoto" class="text-danger"></span>
    </div>


     <div class="form-group">
        <input type="submit" value="Add Dish" class="btn btn-primary" />
    </div>

   </form>