@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
  <h1>Welcome To BEFODDIE Restaurant</h1>
  <p class="lead text-muted">This is a famous BEFOODIE restaurant where you can find number of dishes both vegitarian and non-vegitarian 
      with specialities. In this restraunt you can Taste the Indian,Italian,Chinese Dishes both Veg and Non Veg
      
  </p>
  <p>
    <a class="btn btn-primary my-2" href="#">See Dish Menu</a>
  </p>
  </div>
</section>

