@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css">

<div class="Main">
  <div>
    <img src="~/Image/background.jpg" class="yo" alt="food-image">
    <div class="topic">
      <h1>Welcome to BEFODDIE Restaurant</h1>
    <p class="lead text-muted">
      
      
      This is a famous BEFOODIE restaurant where you can find number of dishes both vegitarian and non-vegitarian 
      with specialities. In this restraunt you can Taste the Indian,Italian,Chinese Dishes both Veg and Non Veg
      
    </p>
    <p>
      <a class="btn1 btn btn-dark my-2" href="#">See Dish Menu</a>
    </p>
    </div>
    
</div>
</div>






@* <section class="jumbotron text-center">
   
    <div class="container">
  <h1>Welcome To BEFODDIE Restaurant</h1>
  <p class="lead text-muted">This is a famous BEFOODIE restaurant where you can find number of dishes both vegitarian and non-vegitarian 
      with specialities. In this restraunt you can Taste the Indian,Italian,Chinese Dishes both Veg and Non Veg
      
  </p>
  <p>
    <a class="btn btn-primary my-2" href="#">See Dish Menu</a>
  </p>
  </div> *@

 
</section>

